.Main-input {
  font-size: 72px;
  border: none;
  text-align: center;
  font-family: "Roboto";
  color: gainsboro;
  width: 75%;
  resize: none;
}

.Main-input:focus {
  outline: none;
}

.AddFriend-container {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.Result-container {
  display: flex;
  position: absolute;
  bottom: 16px;
  flex-direction: column;
  width: 75%;
}

.Friend-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Friend-container h4 {
  margin: 8px 0;
}

.Input-container {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
}