
<!DOCTYPE html>
<html>
    <head>
    <meta charset='UTF-8'>
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <title>Lob.com Sample Reminder Letter</title>
    <style>
      *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      body {
        width: 8.5in;
        height: 11in;
        margin: 0;
        font-family: 'Special Elite', 'Courier', serif;
      }
      .page {
        page-break-after: always;
        position: relative;
        width: 8.5in;
        height: 11in;
      }
      .page:first-of-type .page-content {
        top: 3.7in !important;
        height: 6.925in !important;
      }
      .page-content {
        position: absolute;
        width: 8.125in;
        height: 10.625in;
        left: 0.1875in;
        top: 0.1875in;
        bottom: 0.1875in;
        background-color: rgba(0,0,0,0);
      }
      .post {
        font-size: 0.1.75in;
        line-height: 0.3in;
        margin-left: 55px;
      }
      .friend-name {
        font-size: 0.5in;
        line-height: 0.6in;
        margin-left: 55px;
      }
      .ad {
        margin-left: 55px;
        display: flex;
        align-items: center;
      }
    </style>
    </head>
    <body>
  <% height = 0 %>
  <% page = 1 %>
  <div class='page'>
    <div class='page-content'>
        <% @feed.each do |name, posts| %>
          <div class="friend-name"><%= name %></div>
          <% height += 0.6 %>
          <% if((page == 1 && height > 6) || height > 9) %>
            </div>
            </div>
            <div class='page'>
            <div class='page-content'>
            <% height = 0 %>
            <% page += 1 %>
          <% end %>
          <% posts.each do |post| %>
            <div class="post"><%= post.created_at %>: <%= post.content %></div> 
            <% if post.content.length > 74 %>
            <% height += 0.6 %> 
            <% else %>
            <% height += 0.3 %> 
            <% end %>
            <% if((page == 1 && height > 6) || height > 9) %>
              </div>
              </div>
              <div class='page'>
              <div class='page-content'>
              <% height = 0 %>
              <% page += 1 %>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </body>
</html>